<div class="container bg-white py-2">
  <div class="row pt-2 pb-3">
    <inputtext class="col-md-5" label="Filtro:" [campo]="deFiltroConteudo"
               (onChange)="deFiltroConteudo = $event"></inputtext>
    <div class="col-md-2 mt-3">
      <button type="button" class="btn btn-primary mt-2 ml-3 btn-sm">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
  <div class="col-md-12 card my-2 shadow-sm bg-white rounded" style="height:14.5em" *ngFor="let postagem of listaPostagens">
    <div class="card-body">
      <h3 class="card-text">{{postagem.titulo}}<br>
      </h3>
      <span class="card-text">{{postagem.corpo}}<br>
      </span>
    </div>
    <!--<div class="card-footer bg-white">
      <div class="row">
      <inputtext class="col-md-10" label="Comentário:" [campo]="postagem.deComentario"
                 (onChange)="postagem.deComentario = $event"></inputtext>
      <div class="col-md-2 mt-3">
        <button type="button" class="btn btn-primary mt-2 ml-3 btn-sm">
          <span class="fa fa-paper-plane"></span>
        </button>
      </div>
      </div>
    </div>-->
  </div>
  <button type="button" class="btn btn-default border btn-sm mt-1 float-left" (click)="voltar()">
    Voltar
  </button>
</div>
