<div class="d-flex wrapper" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light text-center">Hathor</div>
    <!-- row justify-content-center align-items-center -->
<!--        <div  class="w-100">-->
<!--          <div style="height: 80px;-->
<!--          display: block;"></div>-->
<!--          <img src="assets/hathor.png" class="m-0" style="height: 80px;-->
<!--                margin-left: auto;-->
<!--                margin-right: auto;-->
<!--                display: block;">-->
    <div class="list-group list-group-flush">
      <a *ngIf="authGuardService.isAuthenticated" class="list-group-item list-group-item-action list-group-item-light p-3">{{authGuardService.usuarioAtual.nome}}</a>
      <a *ngIf="authGuardService.isAuthenticated" class="list-group-item list-group-item-action list-group-item-light p-3">{{authGuardService.usuarioAtual.email}}</a>
      <a *ngIf="authGuardService.isAuthenticated" (click)="authGuardService.logout()" class="list-group-item list-group-item-action list-group-item-light p-3">Sair  <i class="fa fa-sign-out" aria-hidden="true"></i></a>

      <!--<a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="">Home</a>-->
<!--      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/login">Login</a>-->
<!--      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/cadastro">Cadastro</a>-->
<!--      <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/postagens">Postagens</a>-->

    </div>
  </div>
<!--  &lt;!&ndash; Page content wrapper&ndash;&gt;-->
<!--  <div id="page-content-wrapper">-->
<!--    <div class="container-fluid">-->

<!--    </div>-->
<!--  </div>-->

  <div class="container-fluid p-0">
    <div class="card" style="height: 100%;min-height: 100vh; border-radius: 0">
<!--      <div class="card-header" style="background-color: #ffffff;">-->
<!--        <div class="row w-100 m-0">-->
<!--&lt;!&ndash;          <a>teste</a>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
      <div class="card-body" style="background-color: #B88ED8">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>

</div>
